.badge {
  display: block;
  float: right;
  text-align: center;
  margin-right: 15px;
  margin-top: 3px;
  padding: 0 10px;
  font-size: 12px;
  color: #000;
  background-color: #bbb;
  border-radius: 50%;
  transition: 0.5s ease-in-out;
}
